@model PagedList.IPagedList<_360PropertyManagement.Models.Occupations>
@using PagedList.Mvc;
@using _360PropertyManagement.Models;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/Content/style.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetAccounts")',
            minLength: 2


        });

    });
</script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var db = new Context();
    
}
<div style="margin-top:73px;">
    @Html.Partial("_Menus")
</div>
<div style="margin-top:60px;">

    <div class="page-wrap">

        <div style="height:30px;">
            <div style="float:left; padding-left:30px; padding-top:20px; font-size:20px;">
                @Html.ActionLink("Add New Occupation", "Add", null, new { @class = "util_icon_new" })
            </div>

            <div style="float:right; padding-right:30px;">
                Search Country @using (Html.BeginForm("Index", "Occupation", FormMethod.Get))
                {

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { id = "txtSearch" })


                }
            </div>

        </div>

        <table>

            <tr>
                <td style="background-color: black; font-weight: bold; color: #fff;">
                    Occupation Name
                </td>

                <td style="background-color: black; font-weight: bold; color: #fff;">
                    Occupation Status
                </td>
                <td style="background-color: black; font-weight: bold; color: #fff;">
                    Total Persons
                </td>

                <td style="background-color: black; font-weight: bold; color: #fff;">Actions</td>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td class="img1-icon">
                        @Html.DisplayFor(modelitem => item.OccupationName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @(db.persons.Where(x => x.OccupationId == item.OccupationId).Count())
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OccupationId }, new { @class = "util_icon_edit" }) |
                        @Html.ActionLink("Persons", "PersonsByOccupationId", new { id = item.OccupationId })|
                        @Html.ActionLink("Details", "Details", new { id = item.OccupationId }, new { @class = "util_icon_view" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OccupationId })|

                    </td>
                </tr>


            }

        </table>
        <div style="padding-left:15px; padding-top:15px;">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>

</div>