@model _360PropertyManagement.ViewModels.SendBulkMessages
@using _360PropertyManagement.Models;
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/MySite.css" rel="stylesheet" />

@{
    ViewBag.Title = "BulkMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_Menus")
</div>
<div style="margin-top:130px;">
    @using (Html.BeginForm("SendBulkMessages", "Occupation",
FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="main-wrap" style="margin-top:20px;">
            <div class="reset-head1">New Message</div>

            <div class="child-main1">

                <div class="form-group">
                    Message Subject
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.MessageSubject, new { @class = "form-control" })
                    </div>
                    <div style="font-size:medium;">
                        @Html.ValidationMessageFor(x => x.MessageSubject)
                    </div>
                </div>
                <div class="form-group">
                    Message Details
                    <div class="editor-field">
                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                    </div>
                    <div style="font-size:medium;">
                        @Html.ValidationMessageFor(x => x.Message)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="button">Send</button>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "button" })
                    </div>

                </div>

            </div>
        </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>