@model _360PropertyManagement.ViewModels.LicenseDetailsViewmodel

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/MySite.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="menudiv" style="margin-top:80px;">
    @Html.Partial("_AdminView")
</div>
<div style="margin-top:150px;">
@using (Html.BeginForm("EditDetails", "LicenseSettings",
FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <table>
                <tr>
                    <th colspan="6" style="background-color: black; font-weight: bold; color: #fff;">
                        Edit License Details
                    </th>
                </tr>
                <tr>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.LicenseNumber, "License Number")
                    </td>
                    <td>
                        @Html.DisplayFor(x => x.LicenseNumber)
                    </td>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.AnnualFee, "License Annual Fee")
                    </td>
                    <td>
                        @Convert.ToDecimal(Model.AnnualFee).ToString("#,##0.00")
                    </td>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.LicenseStatus, "License Status")
                    </td>
                    <td>
                        @(Model.LicenseStatus ? "Active" : "In-Active")
                    </td>
                </tr>
                <tr>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.LicenseCreatedOn, "License Created On")
                    </td>
                    <td>
                        @Model.LicenseCreatedOn.ToLongDateString()
                    </td>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.NextDueDate, "Next Due Date")
                    </td>
                    <td>
                        @Model.NextDueDate.ToLongDateString()
                    </td>

                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.SalogonStatement, "Company Slogan")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.SalogonStatement)
                    </td>
                </tr>
                <tr>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.AccountEmailId, "Account Email Id")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.AccountEmailId)
                    </td>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.CompanyName, "Business Name")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.CompanyName)
                    </td>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.Website, "Business Website")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.Website)
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="button">Update</button>

                    </td>
                    <td><button class="button" onclick="location.href='@Url.Action("LicenseDetails", "LicenseSettings")';return false;">Cancel</button></td>
                </tr>

            </table>

        </div>
    }
</div>