@model _360PropertyManagement.ViewModels.LicenseContactInfo

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/MySite.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_Menus")
</div>
<div style="margin-top:170px;">
    @using (Html.BeginForm("EditLicenseContactInfo", "LicenseSettings",
FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div>
            <table>

                <tr>
                    <th colspan="6" style="background-color: black; font-weight: bold; color: #fff;">
                        Edit License Contact Details
                    </th>
                </tr>
                <tr>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.MobileOne, "Official Mobile Number")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.MobileOne)
                        @Html.ValidationMessageFor(x => x.MobileOne)
                    </td>

                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.MobileTwo, "Personal Mobile Number")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.MobileTwo)
                        @Html.ValidationMessageFor(x => x.MobileTwo)
                    </td>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.PhoneOne, "Office Phone Number")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.PhoneOne)
                        @Html.ValidationMessageFor(x => x.PhoneOne)

                    </td>


                </tr>
                <tr>
                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.PhoneTwo, "Personal Phone Number")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.PhoneTwo)
                        @Html.ValidationMessageFor(x => x.PhoneTwo)
                    </td>

                    <td style="background-color: black; color:white;">
                        @Html.LabelFor(x => x.Website, "Official Website")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.Website)
                    </td>

                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <button type="submit" class="button">Update</button>
                        @Html.ActionLink("Back", "Index", null, new { @class = "button" })
                    </td>
                </tr>

            </table>

        </div>
    }
</div>