@model _360PropertyManagement.ViewModels.ContactViewModel
@using _360PropertyManagement.Models;

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/MySite.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/Content/style.css" rel="stylesheet" />
<script type="text/javascript">
    function readfile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_Menus")
</div>
<div style="margin-top:130px;">
    @using (Html.BeginForm("Add", "Contact",
FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <div class="page-wrap" style="margin-top:-40px;">
            <div class="reset-head1" style="margin-top:50px; width:auto;">Create a new Contact</div>

            <table style="margin-top:10px;">
                <tr>
                    <th colspan="5" style="background-color: black; font-weight: bold; color: #fff;">
                        Personal Info
                    </th>
                </tr>


                <tr>
                    <td>
                        First Name*:@Html.TextBoxFor(x => x.Firstname)

                    </td>

                    <td>Second Name: @Html.TextBoxFor(x => x.Secondname)</td>
                    <td>Last Name: @Html.TextBoxFor(x => x.lastname)</td>
                    <td>Gender: @Html.DropDownList("genderId", "Select Gender")</td>
                    <p>@Html.ValidationMessageFor(x => x.GenderId)</p>
                    <td>Occupation: @Html.DropDownList("occupationId", "Select Person Occupation")</td>
                    <p> @Html.ValidationMessageFor(x => x.Firstname)</p>
                    <p>@Html.ValidationMessageFor(x => x.OccupationId)</p>
                    <p>@Html.ValidationMessageFor(x => x.Email_Id)</p>
                    <p>@Html.ValidationMessageFor(x => x.MobileOne)</p>
                    <p>@Html.ValidationSummary()</p>

                </tr>

                <table style="margin-top:20px;">

                    <tr>
                        <th colspan="6" style="background-color: black; font-weight: bold; color: #fff;">
                            Contact Info
                        </th>
                    </tr>


                    <tr>
                        <td>Mobile One*:@Html.TextBoxFor(x => x.MobileOne)</td>
                        <td>Mobile Two: @Html.TextBoxFor(x => x.MobileTwo)</td>
                        <td>Phone One: @Html.TextBoxFor(x => x.PhoneOne)</td>
                        <td>Phone Two: @Html.TextBoxFor(x => x.PhoneTwo)</td>
                        <td>Website: @Html.TextBoxFor(x => x.Website)</td>
                        <td>
                            Status:@Html.DropDownListFor(x => x.Status, new[] {
                    new SelectListItem() {Text = "Active", Value = "true"},
                    new SelectListItem() {Text = "In Active", Value = "false"}}, "Not Specified")
                        </td>
                    </tr>

                </table>

                <table style="margin-top:20px;">

                    <tr>
                        <th colspan="6" style="background-color: black; font-weight: bold; color: #fff;">
                            Account Info
                        </th>
                    </tr>


                    <tr>
                        <td>Account Email*:@Html.TextBoxFor(x => x.Email_Id)</td>
                        <td>Password: @Html.TextBoxFor(x => x.Password)</td>
                        <td>Confirm Password: @Html.TextBoxFor(x => x.Confimpassword)</td>
                        <td>
                            <form id="form1">
                                <input type='file' id="file1" name="Photo" onchange="readfile(this);" />
                                <img id="image_preview" src="https://cdn1.iconfinder.com/data/icons/user-pics/512/user_add-512.png" alt="your image" width="50" height="50" />
                            </form>
                        </td>

                    </tr>
                </table>
                <table>

                    <tr>
                        <td colspan="5">
                            <div class="new-but">
                                <input style="float:right" type="submit" class="button" value="Create" />
                            </div>

                        </td>



                    </tr>



                </table>

            </table>



        </div>


    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>











