@model _360PropertyManagement.ViewModels.TopPropertyCategoryViewModel
@using _360PropertyManagement.Models;

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/MySite.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
@{
    ViewBag.Title = "Add Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var db = new Context();

}

<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_Menus")
</div>
<div style="margin-top:130px;">
    <div style="width:500px;margin-left:300px; border:thick;">
        <div style="width:500px; background-color:black; color:white; text-align:center;">Details Of Top Category</div>
        <table style="width:500px;">
            <tr>
                <td>
                    Top Category Name
                </td>
                <td>
                    @Html.DisplayFor(m => m.TopCategoryName)

                </td>
            </tr>
            <tr>
                <td>
                    IsHaveRooms
                </td>
                <td>
                    @(Model.IsShowRooms ? "Yes" : "No")
                </td>
            </tr>
            <tr>
                <td>
                    IsHaveSubCategory
                </td>
                <td>
                    @(Model.IsShowSubCategory ? "Yes" : "No")
                </td>
            </tr>
            <tr>
                <td>
                    IsFurnishedOption
                </td>
                <td>
                    @(Model.IsShowFurnished ? "Yes" : "No")
                </td>
            </tr>
            <tr>
                <td>
                    IsShowArea
                </td>
                <td>
                    @(Model.IsShowArea ? "Yes" : "No")
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    @(Model.IsActive ? "Active" : "In-Active")
                </td>
            </tr>
            <tr>
                <td>
                    Total Ads
                </td>
                <td>
                    0 @Html.ActionLink("View Ads", "AdsByTopCategory", new { id = Model.TopCategoryId })
                </td>
            </tr>
            <tr>
                <td>
                    Remarks
                </td>
                <td>
                    @Html.DisplayFor(x => x.Remarks)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.ActionLink("Back", "Index")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.TopCategoryId })
                </td>
            </tr>
        </table>

    </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>    