@model _360PropertyManagement.ViewModels.ForGetViewModelPassword
@using _360PropertyManagement.Models;

<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:73px;">
    @Html.Partial("_PublicMenus")
</div>
<div style="margin-top:70px;">
    @using (Html.BeginForm("ForgetPassword", "Account",
FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="main-wrap3" style="margin-top:20px;">
            <div class="reset-head" style="background-color:black;">Reset Password Request</div>
            <div class="form-group">
                @Html.LabelFor(m => m.emailId, "", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.emailId, new { @class = "form-control" })
                    <div style="font-size:medium;">
                        @Html.ValidationMessageFor(x => x.emailId)
                </div>
                <div style="width:70px; height:5px;"></div>
                <b style="padding-top:10px;">Enter Your Registered Email Id.</b>
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="button">Reset Password</button>
                </div>

            </div>
        </div>

    </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>