@model _360PropertyManagement.ViewModels.AccountViewModel
@using _360PropertyManagement.Models;

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/MySite.css" rel="stylesheet" />
@{
        ViewBag.Title = "Register";
        Layout = "~/Views/Shared/_Layout.cshtml";
  
}
<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_PublicMenus")
</div>
<div style="margin-top:130px;">
    @using (Html.BeginForm("Register", "Account",
FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="main-wrap" style="margin-top:20px;">
            <div class="reset-head1">Create a new account</div>

            <div class="child-main1">

                <div class="form-group">
                    Email*
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.AccountEmailId, new { @class = "form-control" })
                    </div>
                    <div style="font-size:medium;">
                        @Html.ValidationMessageFor(x => x.AccountEmailId)
                    </div>
                </div>
                <div class="form-group">
                    Password*
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.AccountPassword, new { @class = "form-control" })
                    </div>
                    <div style="font-size:medium;">
                        @Html.ValidationMessageFor(x => x.AccountPassword)
                    </div>
                </div>
                <div class="form-group">
                    Repeat Password*
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.AccountConfirmPassword, new { @class = "form-control" })
                    </div>
                    <div style="font-size:medium;">
                        @Html.ValidationMessageFor(x => x.AccountConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    Select your role*
                    <div class="col-md-10">
                        @Html.DropDownList("RoleId", "Select Role")
                    </div>
                    <div style="font-size:medium;">
                        @Html.ValidationMessageFor(x => x.RoleId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="button">Register</button>
                    </div>
                </div>

            </div>

            <div class="child-main">
                By having a password you will have access to My ads where you can: <br /> <br />
                Edit or Delete your Ads<br />
                Check responses for your Ads<br />
                See saved Ads<br /><br />
                Provide your e-mail address & password and click confirm link in e-mail which will be sent to you..
            </div>

        </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>












