@model _360PropertyManagement.ViewModels.ProfileChangePaasswordViewmodel
@using _360PropertyManagement.Models;

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/MySite.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript">
    $("#btn").click(function (e) {
        $.ajax({
            url: '/CustomProfileHandler/ChangeProfilePassword',
            type: 'POST',
            success: function (data) {
                {
                    alert("Password Succssfully Updated"); //or whatever                     
                }
               
            }
        });

    });
</script>
@{
    ViewBag.Title = "Edit My Personal Info";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    var db = new Context();

}

<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_UserMenus")
</div>
<div style="margin-top:170px;">
    @using (Html.BeginForm("ChangeProfilePassword", "CustomProfileHandler",
FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div style="width:500px;margin-left:300px; border:thick;">
            <div style="width:500px; background-color:black; color:white; text-align:center;">Change Password</div>
            <table style="width:500px;">
                <tr>
                    <td>
                        Previous Password*
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.PreviousPassword)
                        @Html.ValidationMessageFor(x => x.PreviousPassword)
                        @Html.ValidationSummary()
                    </td>
                </tr>
                <tr>
                    <td>
                        New Password
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(x => x.NewPassword)
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm New Password
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.RepeatPassword)
                        @Html.ValidationMessageFor(x => x.RepeatPassword, "New and Confirm Password Must be Match..")
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="button" id="btn">Update</button>
                    </td>
                    <td>
                        <button class="button" onclick="location.href='@Url.Action("MyDashBoard", "Account")';return false;">Not Now</button>
                    </td>
                </tr>
            </table>
            @if (TempData["notice"] != null)
            {
                <p>@TempData["notice"]</p>
            }
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>