@model _360PropertyManagement.ViewModels.PersonViewModel
@using _360PropertyManagement.Models;

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/MySite.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
@{
    ViewBag.Title = "Edit My Personal Info";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    var db = new Context();

}

<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_UserMenus")
</div>
<div style="margin-top:170px;">
    @using (Html.BeginForm("PersonalProfileEdit", "CustomProfileHandler",
FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div style="width:500px;margin-left:300px; border:thick;">
            <div style="width:500px; background-color:black; color:white; text-align:center;">My Personal Details</div>
            <table style="width:500px;">
                <tr>
                    <td>
                        First Name*
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.PersonFirstName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Middle Name
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.personmiddlename)
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.personlastname)
                    </td>
                </tr>
                <tr>
                    <td>
                        Gender*
                    </td>
                    <td>
                        @Html.DropDownList("genderId", "Select Gender")
                    </td>
                </tr>
                <tr>
                    <td>
                        Occupation*
                    </td>
                    <td>
                        @Html.DropDownList("occupationId", "Select Occupation")
                    </td>
                </tr>
                <tr>
                    <td>
                        Status
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.Status, new[] {
                    new SelectListItem() {Text = "Active", Value = "true"},
                    new SelectListItem() {Text = "In Active", Value = "false"}}, "Not Specified")
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="button">Update</button>
                    </td>
                    <td>
                        <button class="button" onclick="location.href='@Url.Action("MyDashBoard", "Account")';return false;">Not Now</button>
                    </td>
                </tr>
            </table>

        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>