@model _360PropertyManagement.Models.Countries
@using _360PropertyManagement.Models;
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/MySite.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).on('click', '#backLink', function () {
        history.go(-1);
    });
</script>

@{
    ViewBag.Title = "Add Occupation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    var db = new Context();

}

<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_Menus")
</div>
<div style="margin-top:130px;">

    <div style="width:500px;margin-left:400px; border:thick;">
        <div style="width:350px; background-color:black; color:white; text-align:center;">Country Details</div>
        <table style="width:350px;">
            <tr>
                <td>
                    Country Name
                </td>
                <td>
                    @Html.DisplayFor(m => m.CountryName)
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    @(Model.Status ? "Active" : "In-Active")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.CountryId }) |
                    @Html.ActionLink("View Ads", "AdsByCountryId", new { id = Model.CountryId })
                </td>
                <td>
                    <a href="javascript:void(0);" onclick="history.go(-1);">Back to Countries</a>
                </td>
            </tr>
        </table>

    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>